# Node modules
node_modules/
npm-debug.log
package-lock.json

# Logs
logs/
*.log
debug.log
error.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/

# Temporary files
*.tmp
*.bak